$netflixred:#e40513;

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.btn-danger {
    background-color: $netflixred !important;
}

.hero {
    background-image: url("./Images/background.avif");
    width: 100vw;
    height: 100vh;

    .overlayblack {
        background-color: rgba(0, 0, 0, 0.725);
        width: 100vw;
        height: 100vh;

        .logotopleft {
            width: 120px;
        }


        .text-white .display-3 {
            @media (min-width:992px) {
                font-size: 4em;
            }
        }
    }


}

.features .segment1 .featurecontainer {
    position: relative;

    .imgcontainer img.feature1 {
        height: 300px;
    }

    .videooverlay {
        position: absolute;
        top: 20%;
        left: 0px;


        @media (min-width:992px) {
            left: 1vw;
        }


        video.video {
            height: 160px;
        }
    }

}

.segment2 {
    .featurecontainer2 {
        height: 200px;

        img.feature2 {
            height: 110%;
            z-index: -100;
        }
    }
}

.segment1,
.segment2 {
    border-bottom: 2.5px solid gray;
    border-top: 2.5px solid gray;

}

footer {
    ul {
        padding: 0;

        li {
            list-style: none;
            margin: 0;
            padding-top: 15px;
            display: block;
            font-size: small;
        }
    }
}

.signin {
    background-image: url("./Images/background.avif");
    background-size: cover;
    width: 100vw;

    .overlayblack {
        background-color: rgba(0, 0, 0, 0.725);

        width: 100vw;

        .logotopleft {
            width: 180px;
        }

        .formbg {
            background-color: rgba(0, 0, 0, 0.896);
            z-index: 2;


            .formcontent h1 {
                z-index: 100;

            }

        }
    }
}


.profiles {
    min-height: 100vh;

    a {
        color: inherit;
        text-decoration: none;
    }

    .logotopleft {
        width: 130px;
    }

    color:rgb(177, 177, 177);

    .profileholder:hover {
        color: white;
    }


    img.profileimg {
        width: 170px;
        border-radius: 10px;
        border: 3px solid transparent;

        &:hover {
            border: 3px solid white;
        }
    }

    .manage {
        border: 1px solid gray;
        padding: 5px 15px;
        font-size: small;
        letter-spacing: 3px;

        &:hover {
            color: white;
            border-color: white;
        }
    }
}

.movieList{
    width: 200px;
    background-size: cover;
    height: 36vh;
    margin: 15px;
}

.modal-content {
    background-color: black;
    color: white;
}


.navbar{
    position:fixed;
    background-color: rgba(0, 0, 0, 0.129);
    width:100vw;
    text-shadow: 0 1px 1px black;

    .logotopleft {
        width: 120px;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px;

        a{
            color:white;
            text-decoration: none;
        }
    }

}

.loggedin{
    .homehero{
        text-shadow: 0 1px 2px black;
    }
}